html,
body{
	padding: 0px;
	margin: 0px;
}


.topnav a{
            font-family:tesla;
            float: right;
            text-align: center;
            padding: 16px;
            color:white;
            text-decoration: none;
            font-size: 17px;
        }
a#icon{
            float: left;
			position: fixed;
			margin-left: 10px;	
        }
.topnav a:hover{
            animation: shake 0.1s;
  			animation-iteration-count:3;
            color: black;
        }
.topnav a:active{
            color: black;
        }
@keyframes shake {
  0% { transform: translate(1px) ; }
  10% { transform: translate(-1px) ; }
  20% { transform: translate(-3px)  ;}
  30% { transform: translate(3px)  ;}
  40% { transform: translate(1px) ; }
 
}